/* Header style */

header {
	background: ##FF0000 url('../images/logo.png') 20px center no-repeat;
	border-bottom: 1px solid #CCCCCC;
	height: 70px;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
}

.logo {
	margin-left: 20px;
}
