/* 5th Filter Style */

.filters {
  display: flex;
  height: 100%;
  width: 25%;
}

.filters > div {
  padding: 20px;
  border-right: 1px solid #DDDDDD;
}

.filters > div:first-child {
  border-right: none;
}

h3 {
  font-weight: 600;
}

h4 {
  font-weight: 400;
  font-size: 14px;
}
